.App {
  text-align: center;
}

.App-header {
  background-color: #dda509;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #148500
}

.nav-type {
  background-color: #148500;
}

.nav-class {
  text-decoration: none;
  color: #dda509;
  padding-left: 20px;
}
 .nav-class :hover{
   color:white;
 }

